<app-nav-menu></app-nav-menu>
<br />
<br />
<div class="container text-center">
  <select class="custom-select" [(ngModel)]="selectedOption" (change)="ObtenerSugerencia()" *ngIf="!cambioPagina">
    <option value=-1 selected>Seleccionar un evento</option>
    <option *ngFor="let evento of eventos" [value]="evento.eventoId">{{evento.nombre}}</option>
  </select>

  <form *ngIf="cambioPagina">
    <div class=" col-md-10" *ngFor="let prenda of prendas">
      <label>{{prenda.nombre}}</label>
    </div>

    <div class="botones col-md-6">
      <button type="submit" class="btn btn-danger">Rechazar</button>
      <button type="submit" class="btn btn-primary" (click)="Aceptar()">Aceptar</button>
    </div>
  </form>


</div>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
